{{> header }}

<link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<div class="ui container">
  {{#if error}}
  <div class="ui negative message">
    {{error}}. Trở lại <a href="/forms">Form của tôi</a>.
  </div>
  {{else}}
  <div class="ui breadcrumb">
    <a class="section" href="/forms">Form của tôi</a>
    <i class="right angle icon divider"></i>
    <a class="active section" href="/forms/{{id}}">
      {{#if name}}
      {{name}}
      {{else}}
      Lỗi
      {{/if}}
    </a>
  </div>
  <div class="ui divider hidden"></div>
  <div class="ui grid">
    <div class="three column row">
      <div class="three wide column">
        <div id="qr"></div>
      </div>
      <div class="nine wide column">
        <h1 class="ui header">{{name}}</h1>
        <a href="http://{{url}}" target="_blank" rel="noopener noreferrer">{{url}}</a>
        <div class="ui divider hidden"></div>
        <strong>Lượt trả lời:&nbsp;</strong>{{answers.length}}
      </div>
      <div class="four wide right aligned column">
        <a href="/forms/{{id}}/edit">
          <button class="ui primary button">Sửa</button>
        </a>
        <button class="ui negative button" onclick="deleteForm()">Xóa</button>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <div id="answers-container" style="display:none;">
    <h2 class="ui header">Câu trả lời</h2>
    <table id="answers-table">
      <thead>
        <tr>
        </tr>
      </thead>
    </table>
  </div>
  {{/if}}
</div>

<script>
  $("#qr").qrcode({ width: 128, height: 128, text: "{{url}}" });

  function deleteForm() {
    $.ajax({
      url: "/forms/{{id}}",
      method: "DELETE",
      success: function (data) {
        document.location.href = "/forms"
      }
    });
  }

  {{#ifne answers.length 0 }}
  $(document).ready(function () {
    $.fn.dataTable.ext.errMode = 'none';
    $('#answers-container').show();

    // append headers
    const survey = new Survey.Survey({{{form.stringified}}});
    const questions = survey.getAllQuestions();
    const headers = questions?.map(question => new Object({
      title: question.title,
      name: question.name
    }));
    $('#answers-table > thead > tr')
      .first()
      .append(headers?.map(header => `<th>${header.title}</th>`));

    // get answer texts
    const answers = {{{ answers.stringified }}};
    const texts = JSON.parse(JSON.stringify(answers));

    for (const question of questions) {
      const type = question.getType();
      const { choices } = question;
      if (type === 'checkbox') {
        for (const text of texts) {
          text[question.name] = text[question.name]
              ?.map(value =>
                choices.find(choice => choice.value === value).text)
              .join(', ');
        }
      } else if (type === 'dropdown' || type === 'radiogroup') {
        for (const text of texts) {
          text[question.name] = 
                choices.find(choice => 
                  choice.value === text[question.name])?.text;
        }
      } else if (type === 'rating') {
        const rateValues = question.visibleRateValues;
        for (const text of texts) {
          text[question.name] = 
                rateValues.find(rateValue => 
                  rateValue.value === text[question.name])?.text;
        }
      }
    }

    // populate datatable
    $('#answers-table').DataTable({
      data: texts,
      columns: headers?.map(header => new Object({
        data: header.name
      })),
      language: {
        url: 'https://cdn.datatables.net/plug-ins/1.10.21/i18n/Vietnamese.json'
      }
    });

    // add charts
    for (const question of questions) {
      const type = question.getType();

      if (['checkbox', 'dropdown', 'radiogroup', 'rating'].includes(type)) {
        // transform data        
        let data = null;
        let labels = null;
        if (type === 'checkbox') {
          const { choices } = question;
          const choiceValueToIndex = {};
          for (const [index, choice] of choices.entries()) {
            choiceValueToIndex[choice.value] = index;
          }

          data = Array(choices.length).fill(0);
          labels = choices?.map(choice => choice.text);

          for (const answer of answers) {
            if (!answer[question.name]) continue;
            for (const item of answer[question.name]) {
              index = choiceValueToIndex[item];
              data[index] += 1;
            }
          }
        } else if (type === 'dropdown' || type === 'radiogroup') {
          const { choices } = question;
          const choiceValueToIndex = {};
          for (const [index, choice] of choices.entries()) {
            choiceValueToIndex[choice.value] = index;
          }

          data = Array(choices.length).fill(0);
          labels = choices?.map(choice => choice.text);

          for (const answer of answers) {
            index = choiceValueToIndex[answer[question.name]];
            data[index] += 1;
          }
        } else {
          const rateValues = question.visibleRateValues;
          const rateValueToIndex = {};
          for (const [index, rateValue] of rateValues.entries()) {
            rateValueToIndex[rateValue.value] = index;
          }

          data = Array(rateValues.length).fill(0);
          labels = rateValues?.map(rateValue => rateValue.text);

          for (const answer of answers) {
            index = rateValueToIndex[answer[question.name]];
            data[index] += 1;
          }
        }

        // add canvas
        $('#answers-container').append(`<div style="height: 50px;"></div><canvas id="${question.id}"></canvas>`);
        
        // create chart
        const colors = ['salmon', 'palegreen', 'yellow', 'lightblue', 'thistle', 'navy', 'gray'];
        const config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: data,
                    backgroundColor: colors
                }],
                labels: labels
            },
            options: {
                aspectRatio: 2,
                title: {
                    display: true,
                    text: question.title
                }
            }
        };
        const chart = new Chart($(`#${question.id}`), config);
      }
    }
  });
  {{/ifne}}
</script>
