{{> header }}
<div class="ui container">
    <div class="ui breadcrumb">
        <a class="section" href="/forms">Form của tôi</a>
        <i class="right angle icon divider"></i>
        <a class="section" href="/forms/{{id}}">{{name}}</a>
        <i class="right angle icon divider"></i>
        <a class="active section" href="/forms/{{id}}/edit">Sửa</a>
    </div>
    <div class="ui divider hidden"></div>
    <div class="ui grid">
        <div class="right aligned column">
            <button class="ui positive button" onclick="save()">Lưu</button>
        </div>
    </div>
</div>
<div id="survey-creator-container"></div>

<script src="/js/survey-creator-init.js"></script>
<script>
    creator.text = {{{data}}};
    
    function save() {
        const data = JSON.parse(creator.text);
        if (!data.title) data.title = "(Không có tiêu đề)";
        $.post("/forms/{{id}}", { data: JSON.stringify(data) }, result => {
            if (!!result) {
                $("body").toast({
                    class: "success",
                    position: "bottom right",
                    showProgress: "bottom",
                    displayTime: 2000,
                    message: "Cập nhật form thành công!"
                });
                setTimeout(() => document.location.reload(), 2000);
            }
            else {
                $("body").toast({
                    class: "error",
                    position: "bottom right",
                    message: "Đã xảy ra lỗi trong quá trình lưu form!"
                });
            }
        });
    }
</script>